/* Empty. Add your own CSS if you like */
.row {
  display: flex;
  flex-direction: row;
  height: 150px;
}
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 0px;
  color: #000;
  background-color: #fff;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  height: 200px;
}

.slider img {
	height: 200px;
	width: 100%;
}