/* Empty. Add your own CSS if you like */


.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 0px;
  color: #000;
  background-color: #fff;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  height: 300px;
}

.slider img {
	height: 300px;
	width: 100%;
}

.bar-header {
   height:90px;


}
.bar-header .title {
   height: 90px;
   line-height: 150px;
}

.has-header {
   top: 90px;
}




