<ion-view class="exam-view" title="财商测试">
     <ion-nav-title>
   
           <a class="logotop" href="#/main/index"><img src="teImg/logotop.png" title="" alt="" /></a>

   </ion-nav-title>

  	<ion-content>
      <div class="main1">
    
       <div class="cstestrig"><!-- 财商测试右边 75%-->  
            
            <ul class="cstestrigul">
              <li><form>
                  <span class="cststtit">发下一笔奖金，您会如何犒劳自己？</span>
                  <div class="cststnr">
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />请自己大吃一顿 </label> </div>
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />买前段时间想买贵重物品 </label> </div>
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />还是存着好了 </label> </div>
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />除了犒劳自己，也给父母或是伴侣买些东西。 </label> </div>
                  </div>
                </form></li>
                <li><form>
                  <span class="cststtit">发下一笔奖金，您会如何犒劳自己？</span>
                  <div class="cststnr">
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />请自己大吃一顿 </label> </div>
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />还是存着好了 </label> </div>
                  </div>
                </form></li>
                <li><form>
                  <span class="cststtit">发下一笔奖金，您会如何犒劳自己？</span>
                  <div class="cststnr">
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />请自己大吃一顿 </label> </div>
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />买前段时间想买贵重物品 </label> </div>
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />还是存着好了 </label> </div>
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />除了犒劳自己，也给父母或是伴侣买些东西。 </label> </div>
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />请自己大吃一顿 </label> </div>
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />还是存着好了 </label> </div>
                  </div>
                </form></li>
                <li><form>
                  <span class="cststtit">发下一笔奖金，您会如何犒劳自己？</span>
                  <div class="cststnr">
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />请自己大吃一顿 </label> </div>
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />买前段时间想买贵重物品 </label> </div>
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />还是存着好了 </label> </div>
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />除了犒劳自己，也给父母或是伴侣买些东西。 </label> </div>
                  </div>
                </form></li>
                <li><form>
                  <span class="cststtit">发下一笔奖金，您会如何犒劳自己？</span>
                  <div class="cststnr">
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />请自己大吃一顿 </label> </div>
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />还是存着好了 </label> </div>
                  </div>
                </form></li>
                <li><form>
                  <span class="cststtit">发下一笔奖金，您会如何犒劳自己？</span>
                  <div class="cststnr">
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />请自己大吃一顿 </label> </div>
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />买前段时间想买贵重物品 </label> </div>
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />还是存着好了 </label> </div>
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />除了犒劳自己，也给父母或是伴侣买些东西。 </label> </div>
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />请自己大吃一顿 </label> </div>
                    <div class="cststnr1"><label><input name="first" type="radio" value="" class="cststfxk" />还是存着好了 </label> </div>
                  </div>
                </form></li>
              
            </ul>
            
            <div class="cststbtn">
               <input type="submit" class="cststjt" value="提交" ng-click='showResult()'/>
               <input type="reset" class="cststcz" value="重置" />
            </div>
            
             
            
           </div><!-- 财商测试右边 70%-->  
          </div>
    </ion-content>

  <multiple-views-support width="75%" />
</ion-view>







