<ion-view class="exam-view">

  	<ion-content>
    
      <div class="cstestlef"><!-- 财商测试左边25%-->  
            
              <div class="cststlogo"><img src="teImg/lnlogo.png" title=""/></div>
              <span class="cststlfnr">
                “财商”是您处理金钱的能力综合，包括储蓄、投资、消费等各个方面，它直接影响着您未来的生活品质，决定着您是否能快速致富。想知道您的财商到底有多高吗？首席金服马上给你答案！
              </span>
              <div class="cststmbj"><img src="teImg/lnbombj.png"/> </div>
           </div><!-- 财商测试左边25%-->  

    </ion-content>

  <multiple-views-support width="25%" />
</ion-view>







