<ion-view view-title="我的" class="common-person-view">

      <ion-nav-title>
           <div class="logotop"><img src="img/logotop.png" title="" alt="" /></div>
         
  
      </ion-nav-title>
  <ion-content>


<ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>

<div class="main1" ng-if="data.person.role=='consultant'">

        <div class="gnr2dadv"><!--内容右侧开始-->
                        
          <div class="gjxnr1dv"><!-- 内容1开始 -->
            
          
            <div class="gjxnrtopyy"></div>
            <!-- 内容top阴影 -->
          
            <div class="gjxnr3">
              <!-- 内容1右边部分开始 -->
              <span>总资产(元)</span>
              <em>541300.20</em>
              <div class="gjxnr3bmdv">
                <span>预期总收益：35000 </span>
                <em>实际已收益：25030 </em>
              </div>
            </div>
            <!-- 内容右边部分结束 -->
          
            <div class="gjxnrr2">
              <!-- 内容1左边部分开始 -->
              <div class="gjxnrr2lef"><img src="teImg/ghnr1lef.png" /></div>
              <div class="gjxnrr2rig">
                <p class="gjxnrr2rigp1">李明<span>先生</span>,<em>下午</em>好</p>
                <p class="gjxnrr2rigp2"><span><img src="teImg/gjxnrtaa.png" /></span> <em>白金用户</em> <i>已认证</i></p>
              </div>
            </div>
            <!-- 内容1左边部分结束 -->
          
          </div><!-- 内容1结束 -->
  
                <div class="gnr2ma"> 
                
                 <div class="lcsgnr2nra"><!--我的客户-s-->
                     <a href="" class="lcsgnr2nratop">
                           <p> 
                             <em><img src="teImg/headr2.png" /></em>  
                             <span>我的客户</span> 
                           </p>
                           <div href=""><em>查看全部</em><i></i></div>
                       </a>
                       <ul class="lcsgnr2nrabm">
                            <li><a href="">
                               <div><img src="teImg/ghnr1lef.png" title="" alt="" /></div>
                               <em>客户1</em>
                            </a></li>
                            <li><a href="">
                               <div><img src="teImg/ghnr1lef.png" title="" alt="" /></div>
                               <em>客户1</em>
                            </a></li>
                            <li><a href="">
                               <div><img src="teImg/ghnr1lef.png" title="" alt="" /></div>
                               <em>客户1</em>
                            </a></li>
                            <li><a href="">
                               <div><img src="teImg/ghnr1lef.png" title="" alt="" /></div>
                               <em>客户1</em>
                            </a></li>
                            <li><a href="">
                               <div><img src="teImg/ghnr1lef.png" title="" alt="" /></div>
                               <em>客户1</em>
                            </a></li>
                            <li><a href="">
                               <div><img src="teImg/ghnr1lef.png" title="" alt="" /></div>
                               <em>客户1</em>
                            </a></li>
                            
                         </ul> 

                 </div><!--我的客户-e-->
                 
                 
                 <!--工作规划-s-->
                 <a href="" class="lcsgnr2nratop">
                       <p> 
                         <em><img src="teImg/lcsnr2img.png" /></em>  
                         <span>工作规划</span> 
                       </p>
                       <div href=""><em></em><i></i></div>
                   </a>
                   <div class="lcsnrma">
                     
                      <div class="lcsnr2lf">
                        <span>64%</span>                        
                        <em>本月目标</em>
                      </div>
                      
                      <ul class="lcsnr2rig">
                        <li><span>总业绩（元）</span><em>541300.20</em></li>
                        <li><span>10月目标业绩（元）</span><em>541300.20</em></li>
                        <li><span>2015年目标业绩（元）</span><em>44300.20</em></li>
                      </ul>
                     
                   </div><!--工作规划-e-->
                   
                   
                   <a href="" class="lcsgnr2nratop">
                       <p> 
                         <em><img src="teImg/yjlcs.png" /></em>  
                         <span>佣金</span> 
                       </p>
                       <div href=""><em></em><i></i></div>
                   </a>
                   <div class="lcsyjnr">
                     <div class="lcsyjtop"><span>佣金总额（元）</span>  <em> 541300.20</em></div>
                     <ul class="lcsnrul">
                       <li>
                         <span><em></em>客户 : 李明先生</span> 
                         <span>返佣：<i>35000</i> </span>
                         <span>交易号：0232011</span>
                         <span>时间 ：2015.08.07</span>
                       </li>
                       <li>
                         <span><em></em>客户 : 李明先生</span> 
                         <span>返佣：<i>35000</i> </span>
                         <span>交易号：0232011</span>
                         <span>时间 ：2015.08.07</span>
                       </li>
                       <li>
                         <span><em></em>客户 : 李明先生</span> 
                         <span>返佣：<i>35000</i> </span>
                         <span>交易号：0232011</span>
                         <span>时间 ：2015.08.07</span>
                       </li>
                       <li>
                         <span><em></em>客户 : 李明先生</span> 
                         <span>返佣：<i>35000</i> </span>
                         <span>交易号：0232011</span>
                         <span>时间 ：2015.08.07</span>
                       </li>
                     </ul>
                   </div>
                   
                   
                   <a href="" class="lcsgnr2nratop">
                       <p> 
                         <em><img src="teImg/lcsnr3t.png" /></em>  
                         <span>订单跟踪</span> 
                       </p>
                       <div href=""><em>查看全部</em><i></i></div>
                   </a>
                   
                   <ul class="lcsnr3">
                     <li>
                       <div class="lcsn3lef">
                           <span><img src="teImg/ghnr1lef.png" /></span>
                           <em>姓名</em>
                       </div>
                       <div class="lcsn3rig">
                         <div class="lcsn3rtp">
                           <p>[私募]粤财·瀚信中鼎盈丰2期</p>
                           <span>已完成</span>
                           <em>返佣比2%</em>
                           <a href=""></a>
                         </div>
                         <div class="lcsn3rbm">
                            <p>
                               <span>当前持有资产(元)</span>
                               <em>28000</em>
                            </p>
                            <p>
                               <span>投资笔数(笔) </span>
                               <em>10</em>
                            </p>
                            <p>
                               <span>当前投资收益(元)</span>
                               <em>2800</em>
                            </p>
                            <p>
                               <span>预期收益(元)</span>
                               <em>28000</em>
                            </p>
                         </div>
                       </div>
                     </li>
                     <li>
                       <div class="lcsn3lef">
                           <span><img src="teImg/ghnr1lef.png" /></span>
                           <em>姓名</em>
                       </div>
                       <div class="lcsn3rig">
                         <div class="lcsn3rtp">
                           <p>[私募]粤财·瀚信中鼎盈丰2期</p>
                           <i>已完成</i>
                           <em>返佣比2%</em>
                           <a href=""></a>
                         </div>
                         <div class="lcsn3rbm">
                            <p>
                               <span>当前持有资产(元)</span>
                               <em>28000</em>
                            </p>
                            <p>
                               <span>投资笔数(笔) </span>
                               <em>10</em>
                            </p>
                            <p>
                               <span>当前投资收益(元)</span>
                               <em>2800</em>
                            </p>
                            <p>
                               <span>预期收益(元)</span>
                               <em>28000</em>
                            </p>
                         </div>
                       </div>
                     </li>
                     <li>
                       <div class="lcsn3lef">
                           <span><img src="teImg/ghnr1lef.png" /></span>
                           <em>姓名</em>
                       </div>
                       <div class="lcsn3rig">
                         <div class="lcsn3rtp">
                           <p>[私募]粤财·瀚信中鼎盈丰2期</p>
                           <span>已完成</span>
                           <em>返佣比2%</em>
                           <a href=""></a>
                         </div>
                         <div class="lcsn3rbm">
                            <p>
                               <span>当前持有资产(元)</span>
                               <em>28000</em>
                            </p>
                            <p>
                               <span>投资笔数(笔) </span>
                               <em>10</em>
                            </p>
                            <p>
                               <span>当前投资收益(元)</span>
                               <em>2800</em>
                            </p>
                            <p>
                               <span>预期收益(元)</span>
                               <em>28000</em>
                            </p>
                         </div>
                       </div>
                     </li>
                   </ul>
                   
                   
                   

                
              </div>
            </div><!--内容右侧结束-->
           
</div> <!--main1-->

    
    
  
  <ion-infinite-scroll
    on-infinite="loadMore()" 
    immediate-check="false"
    distance="1%"><p>小金奋力加载中...</p>
  </ion-infinite-scroll>

    
  </ion-content>
  <multiple-views-support width="75%" />
</ion-view>

