

<ion-view view-title="首页" class="common-main-view">


  <ion-nav-title>
   
           <div class="logotop"><img src="teImg/logotop.png" title="" alt="" /></div>
           

  </ion-nav-title>


  <ion-content>

    <div class="main1">

	  <ion-slide-box does-continue="true" auto-play="true" show-pager="true" class="tyson">
			<ion-slide>
				<img src="img/ban01.jpg">
			</ion-slide>
			<ion-slide>
				<img src="img/ban02.jpg">
			</ion-slide>
			<ion-slide>
				<img src="img/ban03.jpg">
			</ion-slide>
		</ion-slide-box>
      
      
        <!--<div class="item item-divider">
        </div>-->

       <!-- 右侧悬浮框-s -->
 


      <div class="xfkdv">
        <a href="#/exam/customer"></a>
        <span></span>
      </div>

   

      <div class="lbanr11bj">
      <span class="lbanr1tit"><em></em>  <i>【首席金服消息】粤财·瀚信中鼎盈丰2期，强势登场！</i></span>
      <ion-scroll direction="x">
              <div class="lbanr1">
                <ul>
                  <li><a href="#/main/products/categories/2">
                     <div><img src="img/lbanr1img1.png" title="" alt="" /></div>
                     <em>私募产品</em>
                  </a></li>
                  <li><a href="#/main/products/categories/1">
                     <div><img src="img/lbanr1img2.png" title="" alt="" /></div>
                     <em>公募产品</em>
                  </a></li>
                  <li><a href="#/main/products/categories/3">
                     <div><img src="img/lbanr1img3.png" title="" alt="" /></div>
                     <em>信托产品</em>
                  </a></li>
                  <li><a href="#/main/products/categories/4">
                     <div><img src="img/lbanr1img4.png" title="" alt="" /></div>
                     <em>保险产品</em>
                  </a></li>
                  <li><a href="#/main/products/categories/5">
                     <div><img src="img/lbanr1img5.png" title="" alt="" /></div>
                     <em>服务产品</em>
                  </a></li>
                   <li><a href="">
                     <div><img src="img/lbanr1img6.png" title="" alt="" /></div>
                     <em>组合产品</em>
                  </a></li>
                </ul>
              </div>   
      </ion-scroll>   
      </div>
      

        <div class="lbanr2tit">
          <span>&nbsp;</span>
        </div>
             
        <div class="lbanr2tit">
          <span>精选公募产品</span> 
          <a href=""><em>查看全部</em><i></i></a>
       </div>


       <div class="row"> 
          <div class="col col-50" >
             <a href="" ng-click="showProduct()">
                   <div class="lbanr2uldv1"><span>推荐</span> <em>热销</em> <i>粤财·瀚信中鼎盈丰2期</i> </div>


                   <div class="lbanr2uldv2">
                        <div class="lbar2v2lef"> <em>10.50%</em> <span>预期年化</span> </div>
                        <div class="lbar2v2lef"> <em>120天</em> <span>理财期限</span> </div>
                        <div class="lbar2v2rig">
                          <span>目标规模<em>36,500.00</em>万元</span>
                          <span>认购费用<em>10</em>万 起</span>
                          <span>剩余时间<em>24</em>天</span>
                        </div>
                   </div>
                   
                </a>
          </div>
          <div class="col col-50">
              <a href="" ng-click="showProduct()">
                   <div class="lbanr2uldv1"><span>推荐</span> <em>热销</em> <i>粤财·瀚信中鼎盈丰2期</i> </div>
                   
                   <div class="lbanr2uldv2">
                        <div class="lbar2v2lef"> <em>10.50%</em> <span>预期年化</span> </div>
                        <div class="lbar2v2lef"> <em>120天</em> <span>理财期限</span> </div>
                        <div class="lbar2v2rig">
                          <span>目标规模<em>36,500.00</em>万元</span>
                          <span>认购费用<em>10</em>万 起</span>
                          <span>剩余时间<em>24</em>天</span>
                        </div>
                   </div>
                   
                </a>
          </div>
        </div>



        <div class="lbanr2tit">
          <span>&nbsp;</span>
        </div>
             
        <div class="lbanr2tit">
          <span>精选私募产品</span> 
          <a href=""><em>查看全部</em><i></i></a>
       </div>


       <div class="row"> 
          <div class="col col-50" >
             <a href="" ng-click="showProduct()">
                   <div class="lbanr2uldv1"><span>推荐</span> <em>热销</em> <i>粤财·瀚信中鼎盈丰2期</i> </div>


                   <div class="lbanr2uldv2">
                        <div class="lbar2v2lef"> <em>10.50%</em> <span>预期年化</span> </div>
                        <div class="lbar2v2lef"> <em>120天</em> <span>理财期限</span> </div>
                        <div class="lbar2v2rig">
                          <span>目标规模<em>36,500.00</em>万元</span>
                          <span>认购费用<em>10</em>万 起</span>
                          <span>剩余时间<em>24</em>天</span>
                        </div>
                   </div>
                   
                </a>
          </div>
          <div class="col col-50">
              <a href="" ng-click="showProduct()">
                   <div class="lbanr2uldv1"><span>推荐</span> <em>热销</em> <i>粤财·瀚信中鼎盈丰2期</i> </div>
                   
                   <div class="lbanr2uldv2">
                        <div class="lbar2v2lef"> <em>10.50%</em> <span>预期年化</span> </div>
                        <div class="lbar2v2lef"> <em>120天</em> <span>理财期限</span> </div>
                        <div class="lbar2v2rig">
                          <span>目标规模<em>36,500.00</em>万元</span>
                          <span>认购费用<em>10</em>万 起</span>
                          <span>剩余时间<em>24</em>天</span>
                        </div>
                   </div>
                   
                </a>
          </div>
        </div>


      


<!--
      <div class="lbanr2dv"> 
              <div class="lbanr2bj"></div>
              <div class="lbanr2tit">
                 <span>精选私募产品</span> 
                 <a href=""><em>查看全部</em><i></i></a>
              </div>
              
              <ul class="lbanr2ul">
                <li><a href="">
                   <div class="lbanr2uldv1"><span>推荐</span> <em>热销</em> <i>粤财·瀚信中鼎盈丰2期</i> </div>
                   
                   <div class="lbanr2uldv2">
                        <div class="lbar2v2lef"> <em>10.50%</em> <span>预期年化</span> </div>
                        <div class="lbar2v2lef"> <em>120天</em> <span>理财期限</span> </div>
                        <div class="lbar2v2rig">
                          <span>目标规模<em>36,500.00</em>万元</span>
                          <span>认购费用<em>10</em>万 起</span>
                          <span>剩余时间<em>24</em>天</span>
                        </div>
                   </div>
                   
                </a></li>

                <li><a href="">
                   <div class="lbanr2uldv1"><span>推荐</span> <em>热销</em> <i>粤财·瀚信中鼎盈丰2期</i> </div>
                   
                   <div class="lbanr2uldv2">
                        <div class="lbar2v2lef"> <em>10.50%</em> <span>预期年化</span> </div>
                        <div class="lbar2v2lef"> <em>120天</em> <span>理财期限</span> </div>
                        <div class="lbar2v2rig">
                          <span>目标规模<em>36,500.00</em>万元</span>
                          <span>认购费用<em>10</em>万 起</span>
                          <span>剩余时间<em>24</em>天</span>
                        </div>
                   </div>
                   
                  
                </a></li>


              </ul>
           </div>   -->





         </div>

	


	

  </ion-content>
</ion-view>


