<ion-view view-title="首页">
  <ion-content>

	  <ion-slide-box does-continue="true" auto-play="true" show-pager="true" class="tyson">
			<ion-slide>
				<img src="http://images.jiapujidi.com/hdrichimg/7/b/7b4a03e29d474a728d0e6cdbdb8b43d8.jpg">
			</ion-slide>
			<ion-slide>
				<img src="http://images.jiapujidi.com/hdrichimg/7/b/7b4a03e29d474a728d0e6cdbdb8b43d8.jpg">
			</ion-slide>
			<ion-slide>
				<img src="http://images.jiapujidi.com/hdrichimg/7/b/7b4a03e29d474a728d0e6cdbdb8b43d8.jpg">
			</ion-slide>
		</ion-slide-box>

		<div class="item item-divider">
		精选私募基金
		</div>
		
		<a class="item item-avatar" href="#/product/detail/123">
      	<img src="img/download.png">
     	<h2>盈泰磐海对接新泽量化</h2>
  		<p>六个月	预期收益</p>
  		<p>100万起	10%</p>
    	</a>
    	<a class="item item-avatar" href="#/product/detail/12">
      	<img src="img/download.png">
     	<h2>盈泰磐海对接新泽量化</h2>
  		<p>六个月	预期收益</p>
  		<p>100万起	10%</p>
    	</a>

    	<div class="item item-divider">
		精选公募基金
		</div>
		<a class="item item-avatar" href="#/product/detail">
      	<img src="img/download.png">
     	<h2>盈泰磐海对接新泽量化</h2>
  		<p>六个月	预期收益</p>
  		<p>100万起	10%</p>
    	</a>
    	<a class="item item-avatar" href="#/product/detail">
      	<img src="img/download.png">
     	<h2>盈泰磐海对接新泽量化</h2>
  		<p>六个月	预期收益</p>
  		<p>100万起	10%</p>
    	</a>


    	<div class="item item-divider">
		精选信托
		</div>
		<a class="item item-avatar" href="#/product/detail">
      	<img src="img/download.png">
     	<h2>盈泰磐海对接新泽量化</h2>
  		<p>六个月	预期收益</p>
  		<p>100万起	10%</p>
    	</a>
    	<a class="item item-avatar" href="#/product/detail">
      	<img src="img/download.png">
     	<h2>盈泰磐海对接新泽量化</h2>
  		<p>六个月	预期收益</p>
  		<p>100万起	10%</p>
    	</a>


	

  </ion-content>
</ion-view>


