<ion-view class="common-person-view">

  	<ion-content>
    
	  	    <ul class="gfnleful" ng-if="data.person=='null'"><!-- 左边大分类开始-->
              <div class="gjxnrtopyy2"></div><!-- 内容top阴影 --> 
               
              <li>
                <div class="gfnulitp gjxtjcss">
                  <span>账户总览</span>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
              </li>
              <li>
                <div class="gfnulitp">
                  <span>全部订单</span>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
                <div class="gfnulibm">
                  <a href="">待报备</a>
                  <a href="">审核中</a>
                  <a href="">已完成</a>
                  <a href="">历史订单</a>
                </div>
              </li>
             <li>
                <div class="gfnulitp">
                  <span>资金管理</span>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
                <div class="gfnulibm">
                  <a href="">待报备</a>
                  <a href="">待报备</a>
                  <a href="">待报备</a>
                  <a href="">待报备</a>
                  <a href="">待报备</a>
                </div>
              </li>
              <li>
                <div class="gfnulitp">
                  <span>全部订单</span>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
                <div class="gfnulibm">
                  <a href="">待报备</a>
                  <a href="">审核中</a>
                  <a href="">已完成</a>
                  <a href="">历史订单</a>
                </div>
              </li>
             <li>
                <div class="gfnulitp">
                  <span>资金管理</span>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
                <div class="gfnulibm">
                  <a href="">待报备</a>
                  <a href="">待报备</a>
                  <a href="">待报备</a>
                  <a href="">待报备</a>
                  <a href="">待报备</a>
                </div>
              </li>
              <li>
                <div class="gfnulitp">
                  <span>全部订单</span>
                  <em><img src="teImg/glefultprg.png" /></em>
                </div>
                <div class="gfnulibm">
                  <a href="">待报备</a>
                  <a href="">审核中</a>
                  <a href="">已完成</a>
                  <a href="">历史订单</a>
                </div>
              </li>
    
            
            </ul><!-- 左边大分类结束-->

  </ion-content>

  <multiple-views-support width="25%" />
</ion-view>







