<ion-view view-title="工作台">
  <ion-content>
    <ion-slide-box does-continue="true" auto-play="true" show-pager="true" class="tyson">
		<ion-slide>
			<img src="img/IMG_0013.jpg">
		</ion-slide>
		<ion-slide>
			<img src="img/IMG_0014.jpg">
		</ion-slide>
		<ion-slide>
			<img src="img/IMG_0015.jpg">
		</ion-slide>
	</ion-slide-box>

  	<div class="container">
 	<div class="row">
			<a class="col col-50  positive-bg light" href="#/customers/appointment">
				<div>我的客户</div>			
              <i class="icon ion-plane"></i>
			</a>
			<a class="col col-25  assertive-bg light" href="#/money/history"> 
				<div>佣金</div>
              <i class="icon ion-android-train"></i>
			</a>
			<a class="col col-25  calm-bg light" href="#/orders/all">
				<div>订单追踪</div>
              <i class="icon ion-model-s"></i>
			</a>
		</div>

		<div class="row">
			<a class="col  calm-bg light" href="#/bookings/unassigned">
				<div>我的预约</div>
              	<i class="icon ion-home"></i>
			</a>
			<div class="col stable-bg energized" >
              	<i class="icon ion-person"></i>
              	<div>推荐产品</div>	
          	</div>
		</div>

		<div class="row">
			<div class="col  balanced-bg light">
				<div>工作规划</div>
              <i class="icon ion-image"></i>
			</div>
			<div class="col energized-bg light">
				<div>服务记录</div>
              <i class="icon ion-pricetag"></i>
			</div>
			<div class="col  royal-bg light">
				<div>我的账号</div>
               <i class="icon ion-person-stalker"></i>
			</div>
		</div>
		</div>

  </ion-content>
</ion-view>
