
<ion-view view-title="Login">
  <ion-content>

  <!--
       <div class="padding">
      <button class="button button-block button-positive" ng-click="signIn(user)">
      Sign-In
      </button>
    </div>
 <div class="list">
      <label class="item item-input">
      <span class="input-label">Username</span>
      <input type="text" ng-model="user.username">
      </label>
      <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password" ng-model="user.password">
      </label>
    </div>-->
    <div class="lbalndv">
    <div class="lbalnma">
      <!--
      <div class="lbalntc">
         <em><img src="img/lbaimg/lbatsk.png"></em>
         <span>用户名和密码不能为空</span>
         
      </div>--><!--登陆提示-->
      <div class="lbalncldbtn"><img src="img/lbaimg/lbalnclobtn.png" title="" alt=""></div><!--关闭按钮-->
      <div class="lbalnbmbj"><img src="img/lbaimg/lnbombj.jpg" title="" alt=""></div><!--左下角背景图-->
      
      <div class="lbalnlogo"><img src="img/lbaimg/lnlogo.png" title="" alt=""></div>
      <form>
        <div class="lbalnna">
           <span class="lbalnnalef"><img src="img/lbaimg/lbalnyhmlog.png" title="" alt=""></span>
           <input type="text" class="lbalnnarig" placeholder="用户名" ng-model="user.username"/>
        </div>
        <div class="lbalnpwd">
           <span class="lbalnpwdlef"><img src="img/lbaimg/lbalnpwd.png"></span>
           <input type="password" class="lbalnpwdrig" placeholder="密码" ng-model="user.password"/>
        </div> 
        <input type="submit"  class="lbalndl" value="登陆" ng-click="signIn(user)"/>
        <div class="lbalnbm">
            <a href="" class="lbalnbmlf">注册新用户</a>
            <a href="" class="lbalnbrig">忘记密码？</a>
        </div>
      </form> 
    </div>
  </div>

  </ion-content>
</ion-view>