<ion-view view-title="我的">
  <ion-content class="content">

  <div class='main1'>


        
        
        <div class="gjxnr1dv"><!-- 内容1开始 -->
           
           <div class="gjxnrtopyy"></div><!-- 内容top阴影 -->
           
           
           <div class="gjxnr3"><!-- 内容1右边部分开始 -->
               <span>总资产(元)</span>
               <em>541300.20</em>
               <div class="gjxnr3bmdv">
                  <span>预期总收益：35000 </span>
                  <em>实际已收益：25030 </em>
               </div>
           </div><!-- 内容右边部分结束 -->
           
           
           <div class="gjxnrr2"><!-- 内容1左边部分开始 -->
              <div class="gjxnrr2lef"><img src="teImg/ghnr1lef.png" /></div>
              <div class="gjxnrr2rig">
                 <p class="gjxnrr2rigp1">李明<span>先生</span>,<em>下午</em>好</p>
                 <p class="gjxnrr2rigp2"><span><img src="teImg/gjxnrtaa.png" /></span>   <em>白金用户</em>     <i>已认证</i></p>
              </div> 
           </div><!-- 内容1左边部分结束 -->
           
             
        </div><!-- 内容1结束 -->
        
        
        
        <ul class="gfnleful"><!-- 左边大分类开始-->
          <div class="gjxnrtopyy2"></div><!-- 内容top阴影 --> 
           
          <li>
            <div class="gfnulitp gjxtjcss">
              <span>账户总览</span>
              <em><img src="teImg/glefultprg.png" /></em>
            </div>
          </li>
          <li>
            <div class="gfnulitp">
              <span>全部订单</span>
              <em><img src="teImg/glefultprg.png" /></em>
            </div>
            <div class="gfnulibm">
              <a href="">待报备</a>
              <a href="">审核中</a>
              <a href="">已完成</a>
              <a href="">历史订单</a>
            </div>
          </li>
         <li>
            <div class="gfnulitp">
              <span>资金管理</span>
              <em><img src="teImg/glefultprg.png" /></em>
            </div>
            <div class="gfnulibm">
              <a href="">待报备</a>
              <a href="">待报备</a>
              <a href="">待报备</a>
              <a href="">待报备</a>
              <a href="">待报备</a>
            </div>
          </li>
          <li>
            <div class="gfnulitp">
              <span>全部订单</span>
              <em><img src="teImg/glefultprg.png" /></em>
            </div>
            <div class="gfnulibm">
              <a href="">待报备</a>
              <a href="">审核中</a>
              <a href="">已完成</a>
              <a href="">历史订单</a>
            </div>
          </li>
         <li>
            <div class="gfnulitp">
              <span>资金管理</span>
              <em><img src="teImg/glefultprg.png" /></em>
            </div>
            <div class="gfnulibm">
              <a href="">待报备</a>
              <a href="">待报备</a>
              <a href="">待报备</a>
              <a href="">待报备</a>
              <a href="">待报备</a>
            </div>
          </li>
          <li>
            <div class="gfnulitp">
              <span>全部订单</span>
              <em><img src="teImg/glefultprg.png" /></em>
            </div>
            <div class="gfnulibm">
              <a href="">待报备</a>
              <a href="">审核中</a>
              <a href="">已完成</a>
              <a href="">历史订单</a>
            </div>
          </li>

        
        </ul><!-- 左边大分类结束-->

        
        
        <div class="gnr2dadv"><!--内容2大dv开始-->
          <div class="gnr2ma">
             
             <div class="gnr2nra"><!--全部订单-s-->
                     <a href="" class="gnr2nratop">
                         <p> 
                           <em><img src="teImg/gnr2nr1toplf1.jpg" /></em>  
                           <span>查看全部订单</span> 
                         </p>
                         <i><img src="teImg/gnr2nr1toprg3.png" /></i>
                     </a>
                     
                     
                     <ul class="gnr2nrabm">
                        <li><a href="">
                           <div><img src="teImg/gnr2rabm1.jpg" title="" alt="" /></div>
                           <em>待报备</em>
                        </a></li>
                        <li><a href="">
                           <div><img src="teImg/gnr2rabm2.jpg" title="" alt="" /></div>
                           <em>待审核</em>
                        </a></li>
                        <li><a href="">
                           <div><img src="teImg/gnr2rabm3.png" title="" alt="" /></div>
                           <em>已完成</em>
                        </a></li>
                        <li><a href="">
                           <div><img src="teImg/gnr2rabm4.jpg" title="" alt="" /></div>
                           <em>历史订单</em>
                        </a></li>
                     </ul> 
             </div><!--全部订单-e-->
             
             
             <div class="gnr2nrb"><!--已完成订单-s-->
               
                 <div class="gnr2nrbtp">
                    <span>[私募]粤财·瀚信中鼎盈丰2期</span>
                    <a href=""><em>查看详情</em><i></i></a>
                 </div>
                 
                 <div class="gnr2nrbbm">
                   <div class="gnr2nrblef">
                      <div><img src="teImg/gnr2rabm3.png" title="" alt="" /></div>
                      <em>已完成</em>
                   </div>
                   
                   <ul class="gnr2nrbbmrig">
                     <li><span>当前持有资产(元)</span>  <em>28000</em></li>
                     <li><span>投资笔数(笔)</span>  <em>10</em></li>
                     <li><span>当前投资收益(元)</span>  <em>280</em></li>
                     <li><span>预期收益(元)</span>  <em>200</em></li>
                   </ul>
                   
                 </div>
             
             
             
             </div><!--已完成订单-e-->
             
             
             <div class="gnr2nrb"><!--已完成订单-s-->
               
                 <div class="gnr2nrbtp">
                    <span>[私募]粤财·瀚信中鼎盈丰2期</span>
                    <a href=""><em>查看详情</em><i></i></a>
                 </div>
                 
                 <div class="gnr2nrbbm">
                   <div class="gnr2nrblef">
                      <div><img src="teImg/gnr2rabm2.jpg" title="" alt="" /></div>
                      <em>已完成</em>
                   </div>
                   
                   <ul class="gnr2nrbbmrig">
                     <li><span>当前持有资产(元)</span>  <em>28000</em></li>
                     <li><span>投资笔数(笔)</span>  <em>10</em></li>
                     <li><span>当前投资收益(元)</span>  <em>280</em></li>
                     <li><span>预期收益(元)</span>  <em>200</em></li>
                   </ul>
                   
                 </div>
             
             
             
             </div><!--已完成订单-e-->
             
             
             <div class="gnr2nrb"><!--已完成订单-s-->
               
                 <div class="gnr2nrbtp">
                    <span>[私募]粤财·瀚信中鼎盈丰2期</span>
                    <a href=""><em>查看详情</em><i></i></a>
                 </div>
                 
                 <div class="gnr2nrbbm">
                   <div class="gnr2nrblef">
                      <div><img src="teImg/gnr2rabm1.jpg" title="" alt="" /></div>
                      <em>已完成</em>
                   </div>
                   
                   <ul class="gnr2nrbbmrig">
                     <li><span>当前持有资产(元)</span>  <em>28000</em></li>
                     <li><span>投资笔数(笔)</span>  <em>10</em></li>
                     <li><span>当前投资收益(元)</span>  <em>280</em></li>
                     <li><span>预期收益(元)</span>  <em>200</em></li>
                   </ul>
                   
                 </div>

             </div><!--已完成订单-e-->
             
             
             <div class="gnr2nrc">
             
               <div class="gnr2nrctop">
                  <p> 
                     <em><img src="teImg/gnr2nrblf1.jpg" /></em>  
                     <span>我的理财师</span> 
                   </p>
                   <a href=""><em>查看全部</em><i></i></a>
               </div>
               
               <div class="gnr2nrc1">
                  <div class="gnr2nrc1lf">
                    <span><img src="teImg/gnr2nrclef1.jpg" /></span>
                    <em>王海</em>
                  </div> 
                  <div class="gnrnrcrig">
                     <span class="gnr2nrcrig">我已为您创造财富 <em>82934894.3 </em>元</span>
                     <div class="gnr2ncrgbm">
                        <span>当前服务产品</span>
                        <p>
                          <em>粤财·瀚信丰2期(<i>审核中</i>)</em>
                          <em>粤财·瀚信中鼎盈丰1期(<i>已完成</i>)</em>
                        </p>
                     </div>
                  
                  </div>
                  
                  
               
               </div>
               
               
               
               
               
               <div class="gnr2nrctopd">
                  <p> 
                     <em><img src="teImg/gnr2nrd1.jpg" /></em>  
                     <span>我的关注</span> 
                   </p>
                   <a href=""><em>查看全部</em><i></i></a>
               </div>
               
               <div class="gnr2nre">
                 <span>推荐</span>
                 <em>热销</em>
                 <i>粤财·瀚信中鼎盈丰2期</i>
               </div>
               <div class="gnr2nre">
                 <span>推荐</span>
                 <em>热销</em>
                 <i>粤财·瀚信中鼎盈丰2期</i>
               </div>
               <div class="gnr2nre">
                 <span>推荐</span>
                 <em>热销</em>
                 <i>粤财·瀚信中鼎盈丰2期</i>
               </div>
               
               
               
               
             </div>
             
             
             
             
             
             
             
             
             
            
          </div>
        </div><!--内容2大dv结束-->
        
        
         <div class="gnr2dadv curdis"><!--内容2大dv开始-->
          <div class="gnr2ma">
             
             <div class="gnr2nra"><!--全部订单-s-->
                     <a href="" class="gnr2nratop">
                         <p> 
                           <em><img src="teImg/gnr2nr1toplf1.jpg" /></em>  
                           <span>查看全部订单22222</span> 
                         </p>
                         <i><img src="teImg/gnr2nr1toprg3.png" /></i>
                     </a>
                     
                     
                     <ul class="gnr2nrabm">
                        <li><a href="">
                           <div><img src="teImg/gnr2rabm1.jpg" title="" alt="" /></div>
                           <em>待报备</em>
                        </a></li>
                        <li><a href="">
                           <div><img src="teImg/gnr2rabm2.jpg" title="" alt="" /></div>
                           <em>待审核</em>
                        </a></li>
                        <li><a href="">
                           <div><img src="teImg/gnr2rabm3.png" title="" alt="" /></div>
                           <em>已完成</em>
                        </a></li>
                        <li><a href="">
                           <div><img src="teImg/gnr2rabm4.jpg" title="" alt="" /></div>
                           <em>历史订单</em>
                        </a></li>
                     </ul> 
             </div><!--全部订单-e-->
             
             
             <div class="gnr2nrb"><!--已完成订单-s-->
               
                 <div class="gnr2nrbtp">
                    <span>[私募]粤财·瀚信中鼎盈丰2期</span>
                    <a href=""><em>查看详情</em><i></i></a>
                 </div>
                 
                 <div class="gnr2nrbbm">
                   <div class="gnr2nrblef">
                      <div><img src="teImg/gnr2rabm3.png" title="" alt="" /></div>
                      <em>已完成</em>
                   </div>
                   
                   <ul class="gnr2nrbbmrig">
                     <li><span>当前持有资产(元)</span>  <em>28000</em></li>
                     <li><span>投资笔数(笔)</span>  <em>10</em></li>
                     <li><span>当前投资收益(元)</span>  <em>280</em></li>
                     <li><span>预期收益(元)</span>  <em>200</em></li>
                   </ul>
                   
                 </div>
             
             
             
             </div><!--已完成订单-e-->
             
             
             <div class="gnr2nrb"><!--已完成订单-s-->
               
                 <div class="gnr2nrbtp">
                    <span>[私募]粤财·瀚信中鼎盈丰2期</span>
                    <a href=""><em>查看详情</em><i></i></a>
                 </div>
                 
                 <div class="gnr2nrbbm">
                   <div class="gnr2nrblef">
                      <div><img src="teImg/gnr2rabm2.jpg" title="" alt="" /></div>
                      <em>已完成</em>
                   </div>
                   
                   <ul class="gnr2nrbbmrig">
                     <li><span>当前持有资产(元)</span>  <em>28000</em></li>
                     <li><span>投资笔数(笔)</span>  <em>10</em></li>
                     <li><span>当前投资收益(元)</span>  <em>280</em></li>
                     <li><span>预期收益(元)</span>  <em>200</em></li>
                   </ul>
                   
                 </div>
             
             
             
             </div><!--已完成订单-e-->
             
             
             <div class="gnr2nrb"><!--已完成订单-s-->
               
                 <div class="gnr2nrbtp">
                    <span>[私募]粤财·瀚信中鼎盈丰2期</span>
                    <a href=""><em>查看详情</em><i></i></a>
                 </div>
                 
                 <div class="gnr2nrbbm">
                   <div class="gnr2nrblef">
                      <div><img src="teImg/gnr2rabm1.jpg" title="" alt="" /></div>
                      <em>已完成</em>
                   </div>
                   
                   <ul class="gnr2nrbbmrig">
                     <li><span>当前持有资产(元)</span>  <em>28000</em></li>
                     <li><span>投资笔数(笔)</span>  <em>10</em></li>
                     <li><span>当前投资收益(元)</span>  <em>280</em></li>
                     <li><span>预期收益(元)</span>  <em>200</em></li>
                   </ul>
                   
                 </div>

             </div><!--已完成订单-e-->
             
             
             <div class="gnr2nrc">
             
               <div class="gnr2nrctop">
                  <p> 
                     <em><img src="teImg/gnr2nrblf1.jpg" /></em>  
                     <span>我的理财师</span> 
                   </p>
                   <a href=""><em>查看全部</em><i></i></a>
               </div>
               
               <div class="gnr2nrc1">
                  <div class="gnr2nrc1lf">
                    <span><img src="teImg/gnr2nrclef1.jpg" /></span>
                    <em>王海</em>
                  </div> 
                  <div class="gnrnrcrig">
                     <span class="gnr2nrcrig">我已为您创造财富 <em>82934894.3 </em>元</span>
                     <div class="gnr2ncrgbm">
                        <span>当前服务产品</span>
                        <p>
                          <em>粤财·瀚信丰2期(<i>审核中</i>)</em>
                          <em>粤财·瀚信中鼎盈丰1期(<i>已完成</i>)</em>
                        </p>
                     </div>
                  
                  </div>
                  
                  
               
               </div>
               
               
               
               
               
               <div class="gnr2nrctopd">
                  <p> 
                     <em><img src="teImg/gnr2nrd1.jpg" /></em>  
                     <span>我的关注</span> 
                   </p>
                   <a href=""><em>查看全部</em><i></i></a>
               </div>
               
               <div class="gnr2nre">
                 <span>推荐</span>
                 <em>热销</em>
                 <i>粤财·瀚信中鼎盈丰2期</i>
               </div>
               <div class="gnr2nre">
                 <span>推荐</span>
                 <em>热销</em>
                 <i>粤财·瀚信中鼎盈丰2期</i>
               </div>
               <div class="gnr2nre">
                 <span>推荐</span>
                 <em>热销</em>
                 <i>粤财·瀚信中鼎盈丰2期</i>
               </div>
               
               
               
               
             </div>
             
             
             
             
             
             
             
             
             
            
          </div>
        </div><!--内容2大dv结束-->
        
        
        <div class="gnr2dadv curdis"><!--内容2大dv开始-->
          <div class="gnr2ma">
             
             <div class="gnr2nra"><!--全部订单-s-->
                     <a href="" class="gnr2nratop">
                         <p> 
                           <em><img src="teImg/gnr2nr1toplf1.jpg" /></em>  
                           <span>查看全部订单333</span> 
                         </p>
                         <i><img src="teImg/gnr2nr1toprg3.png" /></i>
                     </a>
                     
                     
                     <ul class="gnr2nrabm">
                        <li><a href="">
                           <div><img src="teImg/gnr2rabm1.jpg" title="" alt="" /></div>
                           <em>待报备</em>
                        </a></li>
                        <li><a href="">
                           <div><img src="teImg/gnr2rabm2.jpg" title="" alt="" /></div>
                           <em>待审核</em>
                        </a></li>
                        <li><a href="">
                           <div><img src="teImg/gnr2rabm3.png" title="" alt="" /></div>
                           <em>已完成</em>
                        </a></li>
                        <li><a href="">
                           <div><img src="teImg/gnr2rabm4.jpg" title="" alt="" /></div>
                           <em>历史订单</em>
                        </a></li>
                     </ul> 
             </div><!--全部订单-e-->
             
             
             <div class="gnr2nrb"><!--已完成订单-s-->
               
                 <div class="gnr2nrbtp">
                    <span>[私募]粤财·瀚信中鼎盈丰2期</span>
                    <a href=""><em>查看详情</em><i></i></a>
                 </div>
                 
                 <div class="gnr2nrbbm">
                   <div class="gnr2nrblef">
                      <div><img src="teImg/gnr2rabm3.png" title="" alt="" /></div>
                      <em>已完成</em>
                   </div>
                   
                   <ul class="gnr2nrbbmrig">
                     <li><span>当前持有资产(元)</span>  <em>28000</em></li>
                     <li><span>投资笔数(笔)</span>  <em>10</em></li>
                     <li><span>当前投资收益(元)</span>  <em>280</em></li>
                     <li><span>预期收益(元)</span>  <em>200</em></li>
                   </ul>
                   
                 </div>
             
             
             
             </div><!--已完成订单-e-->
             
             
             <div class="gnr2nrb"><!--已完成订单-s-->
               
                 <div class="gnr2nrbtp">
                    <span>[私募]粤财·瀚信中鼎盈丰2期</span>
                    <a href=""><em>查看详情</em><i></i></a>
                 </div>
                 
                 <div class="gnr2nrbbm">
                   <div class="gnr2nrblef">
                      <div><img src="teImg/gnr2rabm2.jpg" title="" alt="" /></div>
                      <em>已完成</em>
                   </div>
                   
                   <ul class="gnr2nrbbmrig">
                     <li><span>当前持有资产(元)</span>  <em>28000</em></li>
                     <li><span>投资笔数(笔)</span>  <em>10</em></li>
                     <li><span>当前投资收益(元)</span>  <em>280</em></li>
                     <li><span>预期收益(元)</span>  <em>200</em></li>
                   </ul>
                   
                 </div>
             
             
             
             </div><!--已完成订单-e-->
             
             
             <div class="gnr2nrb"><!--已完成订单-s-->
               
                 <div class="gnr2nrbtp">
                    <span>[私募]粤财·瀚信中鼎盈丰2期</span>
                    <a href=""><em>查看详情</em><i></i></a>
                 </div>
                 
                 <div class="gnr2nrbbm">
                   <div class="gnr2nrblef">
                      <div><img src="teImg/gnr2rabm1.jpg" title="" alt="" /></div>
                      <em>已完成</em>
                   </div>
                   
                   <ul class="gnr2nrbbmrig">
                     <li><span>当前持有资产(元)</span>  <em>28000</em></li>
                     <li><span>投资笔数(笔)</span>  <em>10</em></li>
                     <li><span>当前投资收益(元)</span>  <em>280</em></li>
                     <li><span>预期收益(元)</span>  <em>200</em></li>
                   </ul>
                   
                 </div>

             </div><!--已完成订单-e-->
             
             
             <div class="gnr2nrc">
             
               <div class="gnr2nrctop">
                  <p> 
                     <em><img src="teImg/gnr2nrblf1.jpg" /></em>  
                     <span>我的理财师</span> 
                   </p>
                   <a href=""><em>查看全部</em><i></i></a>
               </div>
               
               <div class="gnr2nrc1">
                  <div class="gnr2nrc1lf">
                    <span><img src="teImg/gnr2nrclef1.jpg" /></span>
                    <em>王海</em>
                  </div> 
                  <div class="gnrnrcrig">
                     <span class="gnr2nrcrig">我已为您创造财富 <em>82934894.3 </em>元</span>
                     <div class="gnr2ncrgbm">
                        <span>当前服务产品</span>
                        <p>
                          <em>粤财·瀚信丰2期(<i>审核中</i>)</em>
                          <em>粤财·瀚信中鼎盈丰1期(<i>已完成</i>)</em>
                        </p>
                     </div>
                  
                  </div>
                  
                  
               
               </div>
               
               
               
               
               
               <div class="gnr2nrctopd">
                  <p> 
                     <em><img src="teImg/gnr2nrd1.jpg" /></em>  
                     <span>我的关注</span> 
                   </p>
                   <a href=""><em>查看全部</em><i></i></a>
               </div>
               
               <div class="gnr2nre">
                 <span>推荐</span>
                 <em>热销</em>
                 <i>粤财·瀚信中鼎盈丰2期</i>
               </div>
               <div class="gnr2nre">
                 <span>推荐</span>
                 <em>热销</em>
                 <i>粤财·瀚信中鼎盈丰2期</i>
               </div>
               <div class="gnr2nre">
                 <span>推荐</span>
                 <em>热销</em>
                 <i>粤财·瀚信中鼎盈丰2期</i>
               </div>
               
               
               
               
             </div>
             
             
             
             
             
             
             
             
             
            
          </div>
        </div><!--内容2大dv结束-->
        
        
        <div class="gnr2dadv curdis"><!--内容2大dv开始-->
          <div class="gnr2ma">
             
             <div class="gnr2nra"><!--全部订单-s-->
                     <a href="" class="gnr2nratop">
                         <p> 
                           <em><img src="teImg/gnr2nr1toplf1.jpg" /></em>  
                           <span>查看全部订单444</span> 
                         </p>
                         <i><img src="teImg/gnr2nr1toprg3.png" /></i>
                     </a>
                     
                     
                     <ul class="gnr2nrabm">
                        <li><a href="">
                           <div><img src="teImg/gnr2rabm1.jpg" title="" alt="" /></div>
                           <em>待报备</em>
                        </a></li>
                        <li><a href="">
                           <div><img src="teImg/gnr2rabm2.jpg" title="" alt="" /></div>
                           <em>待审核</em>
                        </a></li>
                        <li><a href="">
                           <div><img src="teImg/gnr2rabm3.png" title="" alt="" /></div>
                           <em>已完成</em>
                        </a></li>
                        <li><a href="">
                           <div><img src="teImg/gnr2rabm4.jpg" title="" alt="" /></div>
                           <em>历史订单</em>
                        </a></li>
                     </ul> 
             </div><!--全部订单-e-->
             
             
             <div class="gnr2nrb"><!--已完成订单-s-->
               
                 <div class="gnr2nrbtp">
                    <span>[私募]粤财·瀚信中鼎盈丰2期</span>
                    <a href=""><em>查看详情</em><i></i></a>
                 </div>
                 
                 <div class="gnr2nrbbm">
                   <div class="gnr2nrblef">
                      <div><img src="teImg/gnr2rabm3.png" title="" alt="" /></div>
                      <em>已完成</em>
                   </div>
                   
                   <ul class="gnr2nrbbmrig">
                     <li><span>当前持有资产(元)</span>  <em>28000</em></li>
                     <li><span>投资笔数(笔)</span>  <em>10</em></li>
                     <li><span>当前投资收益(元)</span>  <em>280</em></li>
                     <li><span>预期收益(元)</span>  <em>200</em></li>
                   </ul>
                   
                 </div>
             
             
             
             </div><!--已完成订单-e-->
             
             
             <div class="gnr2nrb"><!--已完成订单-s-->
               
                 <div class="gnr2nrbtp">
                    <span>[私募]粤财·瀚信中鼎盈丰2期</span>
                    <a href=""><em>查看详情</em><i></i></a>
                 </div>
                 
                 <div class="gnr2nrbbm">
                   <div class="gnr2nrblef">
                      <div><img src="teImg/gnr2rabm2.jpg" title="" alt="" /></div>
                      <em>已完成</em>
                   </div>
                   
                   <ul class="gnr2nrbbmrig">
                     <li><span>当前持有资产(元)</span>  <em>28000</em></li>
                     <li><span>投资笔数(笔)</span>  <em>10</em></li>
                     <li><span>当前投资收益(元)</span>  <em>280</em></li>
                     <li><span>预期收益(元)</span>  <em>200</em></li>
                   </ul>
                   
                 </div>
             
             
             
             </div><!--已完成订单-e-->
             
             
             <div class="gnr2nrb"><!--已完成订单-s-->
               
                 <div class="gnr2nrbtp">
                    <span>[私募]粤财·瀚信中鼎盈丰2期</span>
                    <a href=""><em>查看详情</em><i></i></a>
                 </div>
                 
                 <div class="gnr2nrbbm">
                   <div class="gnr2nrblef">
                      <div><img src="teImg/gnr2rabm1.jpg" title="" alt="" /></div>
                      <em>已完成</em>
                   </div>
                   
                   <ul class="gnr2nrbbmrig">
                     <li><span>当前持有资产(元)</span>  <em>28000</em></li>
                     <li><span>投资笔数(笔)</span>  <em>10</em></li>
                     <li><span>当前投资收益(元)</span>  <em>280</em></li>
                     <li><span>预期收益(元)</span>  <em>200</em></li>
                   </ul>
                   
                 </div>

             </div><!--已完成订单-e-->
             
             
             <div class="gnr2nrc">
             
               <div class="gnr2nrctop">
                  <p> 
                     <em><img src="teImg/gnr2nrblf1.jpg" /></em>  
                     <span>我的理财师</span> 
                   </p>
                   <a href=""><em>查看全部</em><i></i></a>
               </div>
               
               <div class="gnr2nrc1">
                  <div class="gnr2nrc1lf">
                    <span><img src="teImg/gnr2nrclef1.jpg" /></span>
                    <em>王海</em>
                  </div> 
                  <div class="gnrnrcrig">
                     <span class="gnr2nrcrig">我已为您创造财富 <em>82934894.3 </em>元</span>
                     <div class="gnr2ncrgbm">
                        <span>当前服务产品</span>
                        <p>
                          <em>粤财·瀚信丰2期(<i>审核中</i>)</em>
                          <em>粤财·瀚信中鼎盈丰1期(<i>已完成</i>)</em>
                        </p>
                     </div>
                  
                  </div>
                  
                  
               
               </div>
               
               
               
               
               
               <div class="gnr2nrctopd">
                  <p> 
                     <em><img src="teImg/gnr2nrd1.jpg" /></em>  
                     <span>我的关注</span> 
                   </p>
                   <a href=""><em>查看全部</em><i></i></a>
               </div>
               
               <div class="gnr2nre">
                 <span>推荐</span>
                 <em>热销</em>
                 <i>粤财·瀚信中鼎盈丰2期</i>
               </div>
               <div class="gnr2nre">
                 <span>推荐</span>
                 <em>热销</em>
                 <i>粤财·瀚信中鼎盈丰2期</i>
               </div>
               <div class="gnr2nre">
                 <span>推荐</span>
                 <em>热销</em>
                 <i>粤财·瀚信中鼎盈丰2期</i>
               </div>
               
               
               
               
             </div>
             
             

            
          </div>
        </div><!--内容2大dv结束-->       
        
        
        
        
        
        </div>
           

            <!-- 中间内容-e -->  
     
    
  </ion-content>
</ion-view>

