
<ion-nav-bar>
</ion-nav-bar>

<div class="exam-view">
<div class="cststtc" ng-if="win.result"><!-- 财商测试-答案-开始 -->
  
  <div class="cststma">
    <!--<div class="cststclobtn"><img src="teImg/zcclose.png" /></div>-->
    <div class="cststtclog"><img src="teImg/cststtclog.png" /></div>
    <span class="cststjg">财商指数<em>40</em>%</span>
    <em class="cstsjs">您是一个很保守的人，专注于自己所从事的工作，赚钱目标也总是客观而容易实现的，但最好能在理财上再多一点闯劲和激情。若觉得理财麻烦，对股票提不起太大兴趣，又嫌定期储蓄效率太低。建议您请值得信赖的人帮您理财，这样更有利于累积财富。</em>
    <a href="#/main/index" class="cststaa">感谢您参加测试，现在来挑选您可能感兴趣的理财产品吧！</a>
</div>
</div>


</div><!-- 财商测试-答案-结束 -->
<ion-nav-view name="exam-menu"></ion-nav-view>
<ion-nav-view name="exam-customer"></ion-nav-view>

