<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-nav-bar>
</ion-nav-bar>
<div class="common-main-view">



<!--提示页-->
<div ng-switch on="data.warning.status">

  <div class="tsdadv" ng-switch-when='success' ng-click='closeWarning()'>
    <div class="tsma">
      <img src="teImg/rctslog.png" />
      <span>{{data.warning.words}}</span> 
    </div>
  </div>


  <div class="tsdadv" ng-switch-when='fail' ng-click='closeWarning()'>
    <div class="tsma">
      <img src="teImg/lbatsk.png" />
      <span>{{data.warning.words}}</span> 
    </div>
  </div>

</div>
<!--提示页-->



  <div ng-switch on="data.popup">
  <div class="prxqdv" ng-switch-when="privateFund"><!-- 私募产品详情页弹窗开始 -->
  <div class="prxqdvma"><!-- 私募产品详情页弹窗主体 -->
    
    <div class="prxqmanr1"><!-- 私募产品详情页弹窗主体 上半部分-->
    
      <div class="prxqhead">
             <span class="prxqh1">推荐</span>
             <span class="prxqh2">热销</span>
             <span class="prxqh3">粤财·瀚信中鼎盈丰2期</span>
             <em class="prxqh5" ng-click='closeProduct()'></em>
             <em class="prxqh4"></em>
      </div>
    
    
    
      <div class="prxqnr2">
      
      <div class="prxqnr2lf">63%</div>
      
      <div class="prxqrig">
        
        <div class="prxqrtop">
          <div class="prxqrpnr1">
            <span>10.50%</span>
            <em>预期年化 </em>
          </div>
          <div class="prxqrpnr1">
            <span>18个月</span>
            <em>理财期限  </em>
          </div>
          <div class="prxqrpnr3">
            <p><i>目标规模</i><em>100000000</em><span>万元</span></p>
            <p><i>认购金额</i><em>300-599</em><span>万元</span></p>
            <p><i>剩余时间</i><em>26</em><span>天</span></p>
          </div>
        </div><!-- 右边的上半部分 -->
        
        <ul class="prxqbmul">
          <li class="prxqbj">基本信息</li>
          <li>募集账户</li>
          <li>产品卖点</li>
          <li>风险控制</li>
        </ul><!-- 右边的下半部分 -->
        
        
      </div>
      
      
    </div>
    
    </div><!-- 私募产品详情页弹窗主体 上半部分-->
    
    
    
    <div class="prxqtopbj"></div>
    <div class="prxqmanr2"><!-- 私募产品详情页弹窗主体 中间部分-->
      
      <p>
        <span>产品全称</span>
        <em>粤财·瀚信中鼎盈丰2期</em>
      </p>
      <p>
        <span>发行规模</span>
        <em>15000万</em>
      </p>
      <p>
        <span>发行机构 </span>
        <em>江苏紫鑫投资管理有限公司</em>
      </p>
      <p>
        <span>发行地区  </span>
        <em>广州</em>
      </p>
      <p>
        <span>抵押物情况 </span>
        <em>有</em>
      </p>
      <p>
        <span>抵押率 </span>
        <em>60.66</em>
      </p>
      <p>
        <span>投资方向 </span>
        <em>房地产类</em>
      </p>
      <p>
        <span>人数限制 </span>
        <em>200人</em>
      </p>
      <p>
        <span>存续规模 </span>
        <em>3454万（截至4.10开放期）  结构形式  非结构化</em>
      </p>
      <p>
        <span>存续期 </span>
        <em>10年</em>
      </p>
      <p>
        <span>投资标的 </span>
        <em>通过筛选投资标的标准和构建组合的流程来保证组合收益率波动符合客户需求，
                                通过建立安全垫和仓位管理规则，逐步放大风险敞口来缩小下方波动幅度，通过</em>
      </p>
      <p>
        <span>封闭期 </span>
        <em>12个月</em>
      </p>
      <p>
        <span>基金托管人 </span>
        <em>通过筛选投资标的标准和构建组合的流程来保证组合收益率波动符合客户需求，
                                通过建立安全垫和仓位管理规则，逐步放大风险敞口来缩小下方波动幅度，通过</em>
      </p>

    </div><!-- 私募产品详情页弹窗主体 中间部分-->
    
    
    
    
    <div class="prxqbm"><!-- 私募产品详情页弹窗主体 底部部分-->
      <a href="" class="prxqaa2" ng-click="addBooking()">预约产品</a>
      <a href="" class="prxqaa1">立即申购</a>
    </div><!-- 私募产品详情页弹窗主体 底部部分-->

  </div><!-- 私募产品详情页弹窗主体 --> 
</div><!-- 私募产品详情页弹窗结束 -->

<!-- todo -->
<div class="zctsypr" ng-switch-when="booking-success" ng-click="closePopup()"><!-- 注册成功提示-开始 -->
      <div class="zctsylog"><img src="teImg/rctslog.png" /></div>
      <span>您的预约已成功提交!！</span>
      <span>您的理财师将马上与您联系，请保持电话通畅。！</span>
</div><!-- 注册成功提示-结束 -->
    

<!--登陆开始-->
  <div class="lbalndv" ng-switch-when="login">
    
    <div class="lbalnma">
    <!--
      <div class="lbalntc">
         <em><img src="teImg/lbatsk.png"></em>
         <span>用户名和密码不能为空</span>
         
      </div>--><!--登陆提示-->
      <div class="lbalncldbtn"><img src="teImg/lbalnclobtn.png" ng-click="closePopup('login')"></div><!--关闭按钮-->
      <div class="lbalnbmbj"><img src="teImg/lnbombj.jpg" title="" alt=""></div><!--左下角背景图-->
      
      <div class="lbalnlogo"><img src="teImg/lnlogo.png" title="" alt=""></div>
      <form class="lbalogonew">
        <div class="lbalnna">
           <span class="lbalnnalef"><img src="teImg/lbalnyhmlog.png" title="" alt=""></span>
           <input type="text" class="lbalnnarig" placeholder="手机号码" ng-model="auth.login.username"/>
        </div>
        <div class="lbalnpwd">
           <span class="lbalnpwdlef"><img src="teImg/lbalnpwd.png"></span>
           <input type="password" class="lbalnpwdrig" placeholder="密码" ng-model="auth.login.password"/>
        </div> 
        <input type="submit"  class="lbalndl" value="登陆" ng-click="login(auth.login.username, auth.login.password)"/>
        <div class="lbalnbm">
            <a href="" class="lbalnbmlf" ng-click="register_1()">注册新用户</a>
            <a href="" class="lbalnbrig">忘记密码？</a>
        </div>
        
      </form>

    </div>  
  </div>
  <!--登陆开始-->




  <div class="zcdv" ng-switch-when="register_1" ><!-- 注册开始 -->
    <div class="zcmain1">
       <div class="zclfbj"><img src="teImg/zclefbj.png" /></div><!-- 左边背景 -->
       <div class="zcback" ng-click="backLogin()"><img src="teImg/zcback.png" /></div><!-- 返回 -->
           <div class="zcclos"><!--<img src="teImg/zcclose.png" />--></div><!-- 关闭 -->
           <span class="zcwjtit1">注册新用户</span>
           <span class="zcwjtit2">您的手机号将作为登陆账号</span>
           
           <form class="zcwjfrm">
             <div class="zctel">
               <span>手机号码</span>
               <input type="text" placeholder="请输入手机号码"  ng-model="auth.register.username" ng-disabled="win.disable"/ > 
             </div> 
             <div class="zcyzm">
               <span>验 证 码</span>
               <input type="text" placeholder="请输入验证码" ng-model="auth.register.verifyCode" /> 
               <button ng-click='askVerifyCode(auth.register.phone)' ng-disabled="win.disable">{{user.verifyWords}}</button>
             </div>
             <input  type="submit" class="zcwjnext" value="下一步" ng-click="register_2(user.verifyCode)" />
             <em class="zcwjbz">首席金服将对您的信息严格保密，不会在任何地方泄露您的号码</em>
           </form>
    </div>
  </div><!-- 注册结束 -->
  
  
  
  <div class="zcdv" ng-switch-when="register_2"><!-- 注册开始 -->
    
    <div class="zcmain1">
       <div class="zclfbj"><img src="teImg/zclefbj.png" /></div><!-- 左边背景 -->
       <div class="zcback" ng-click="backLogin()"><img src="teImg/zcback.png" /></div><!-- 返回 -->
           <div class="zcclos"><!--img src="teImg/zcclose.png" />--></div><!-- 关闭 -->
           <span class="zcwjtit1">注册新用户</span>
           
           
           <form class="zcwjfrm zcwjfrmmm">
             <div class="zctel zctelmm">
               <span>您的密码</span>
               <input type="text" placeholder="8-20位，必须含有字母" ng-model="user.password"/> 
             </div> 
             <div class="zctel zctelmm">
               <span>重复密码</span>
               <input type="text" placeholder="请重复输入你的密码" /> 
             </div>
             <div class="zctel zctelmm">
               <span>推 荐 人</span>
               <input type="text" placeholder="请输入对方手机号码（选填）" /> 
             </div>
             <input  type="submit" class="zcwjnext" value="完成注册" ng-click="register_3(user.phone,user.password, user.verifyCode)"/>
             <p class="zcmmjs">
                <span><img src="teImg/zcmmjslog.jpg" /></span>
                <em>我已阅读并同意<i>《首席金服用户协议》</i></em>
             </p>
          
           </form>

    </div>
  </div><!-- 注册结束 -->
</div>

</div>  <!--common-main-view-->









<ion-tabs class="tabs-icon-bottom tabs-bottom tabs-color-light tabs-dark" ng-switch on="data.person.role">

  <!-- Index Tab -->
  <ion-tab title="首页" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/main/index">
    <ion-nav-view name="main-index"></ion-nav-view>
  </ion-tab>

  <!-- Products Tab -->
  <ion-tab title="发现" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/main/products/categories/1">
    <ion-nav-view name="main-categories"></ion-nav-view>
    <ion-nav-view name="main-products"></ion-nav-view>
  </ion-tab>

  <!-- ToolBox Tab -->
<!--
  <ion-tab title="我的" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/main/my" ng-switch-when='customer'>
    <ion-nav-view name="main-my-menu"></ion-nav-view>
    <ion-nav-view name="main-my-toolbox"></ion-nav-view>
  </ion-tab>-->
  
  <ion-tab title="我的" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/main/guest" ng-switch-when="Guest">
    <ion-nav-view name="main-guest"></ion-nav-view>
  </ion-tab>

  <ion-tab title="我的" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/main/my" ng-switch-when='Customer'>
    <ion-nav-view name="main-my-menu"></ion-nav-view>
    <ion-nav-view name="main-my-toolbox"></ion-nav-view>
  </ion-tab>


  <ion-tab title="我的" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/main/toolbox" ng-switch-when='Consultant'>
    <ion-nav-view name="main-consultant-menu"></ion-nav-view>
    <ion-nav-view name="main-consultant-toolbox"></ion-nav-view>
  </ion-tab>



    <!-- ToolBox Tab -->
    <!--
  <ion-tab title="我的" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/main/toolbox" ng-if='false'>
    <ion-nav-view name="main-menu"></ion-nav-view>
    <ion-nav-view name="main-my"></ion-nav-view>
  </ion-tab>-->


   
 

</ion-tabs>
